<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Social</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <header class="main-header">
    <h1 class="logo">
      <a href="{{url_for('index')}}">Home</a>
    </h1>
    <nav>
      {% if sess %}
        <ul class="navigation">
          <li><a href="{{url_for('profile')}}">Profile</a></li>
          <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
      {% else %}
        <ul class="navigation">
          <li><a href="{{url_for('login')}}">Login</a></li>
          <li><a href="{{url_for('register')}}">Register</a></li>
        </ul>
      {% endif %}
    </nav>
    {% if sess %}
    <form class="search" action="{{url_for('find')}}" method="post">
      <input type="text" name="find_user" placeholder="Search...">
    </form>
    {% endif %}
  </header>
  {% block content %}
  {% endblock %}
  <script src="{{url_for('static', filename='js/app.js')}}"></script>
</body>
</html>
