{% extends 'base.html' %}
{% block content %}
  {% if session.logged_in %}
  <div class="content">
    <form action="{{url_for('index')}}" method="POST" class="add-post-form">
      <textarea name="new-post"></textarea>
      <button type="submit">Add</button>
    </form>
    {{user}}
    {% for post in posts %}
      <p>{{post[1]}}</p>
    {% endfor %}
  </div>
  <script src="{{url_for('static', filename='js/posts.js')}}"></script>
  {% else %}
    <main>
      <div class="intro">
        <ul>
          <li>
            <i class="fas fa-search"></i>
            Find new friends.
          </li>
          <li>
            <i class="fas fa-users"></i>
            Hear what people are talking about.
          </li>
          <li>
            <i class="far fa-comment"></i>
            Join the conversation.
          </li>
        </ul>
      </div>
      <div class="sign">
        <h2>See what’s happening in the world right now</h2>
        <h4>Join Today!</h4>
        <a href="{{url_for('register')}}">Sign Up</a>
      </div>
    </main>
  {% endif %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li class="success-flash">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}
